
@model AutoLotDALModels.Models.Inventory
@*В табл. 29.9 присутствовало несколько вспомогательных методов HTML, которые полагаются на шаблоны, либо специальные,
    либо стандартные. Механизм Razor поддерживает два типа специальных шаблонов — шаблоны для отображения и шаблоны
    для редактирования. Шаблоны создаются как представления Razor и должны размещаться в местах на основе соглашения.
    Шаблоны для отображения обязаны находиться в папке по имени DisplayTemplates, которая расположена либо внутри
    папки Views\Shared, либо внутри папки представления, специфичного для контроллера, такой как Views\Inventory.
    К шаблонам применимы те же самые правила, касающиеся представлений; любые шаблоны из папки Views\Shared доступны
    повсюду в приложении, а шаблоны из папки, специфичной для контроллера, доступны только внутри представлений,
    относящихся к данному контроллеру. К шаблонам для редактирования применяются все те же правила за исключением
    того, что папка, где они хранятся, должна иметь имя EditorTemplates. К шаблонам можно обращаться либо явно, либо
    неявно. Для явного обращения к шаблону нужно сослаться на него по имени. Например, вот как обратиться к шаблону
    отображения под названием InventoryList.cshtml

    @Html.DisplayFor(modelltem=>item,"InventoryList")


*@
<tr>
    <td>@Html.DisplayFor(model => model.Make)</td>
    <td>@Html.DisplayFor(model => model.Color)</td>
    <td>@Html.DisplayFor(model => model.PetName) </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
        @Html.ActionLink("Details", "Details", new { id = Model.Id })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </td>
</tr>